<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Reviews
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12"  >
          <div class="top-spacer" > </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel containers">
          <div class="panel-body" >
            <!--/stories-->
            
              <div class="row" *ngFor = "let author of authors">    
                <br>
              <!-- <div class="col-md-2 col-sm-3">
                <div class="imgdetails">
                <a class="story-title" href="#"><img alt=""  [src] = "author.image"  class="img-circle images"></a>
              </div>
              </div> -->
              <div class="col-md-10 col-sm-9">
                <div class="details">
                <h3>{{author.name}}</h3>
                <div class="row">
                  <div class="col-xs-9">
                    <h6><span class="label label-default">{{author.description}}</span></h6><h4>
                    <small style="font-family:courier,'new courier';font-size: 15px;" class="text-muted">{{author.genre}} • 
                      <br><br><a (click) = "singleAuthor(author)" class="text-muted">Read More</a></small>
                    </h4></div>
                  <div class="col-xs-3"></div>
                </div>
  
                <div *ngIf="_auth.loggedIn()" class="buttons" style="float: right;margin-right: 5%;">
                    <button id="update" (click) = "updateAuthor(author)"><i class="fa fa-edit"></i>&nbsp;Edit</button>&nbsp;
                  <span> 
                    <button type="button" (click) = "deleteAuthor(author)" id="delete" onclick="return confirm('Are you sure you want to delete this item?');">
                      <i class="fa fa-trash"></i> &nbsp;Delete</button></span>
                </div>
  
                <br>
                <hr style="border-top: 1px  rgb(214, 209, 209);">
                </div>
              </div> 
            </div> 
            <!--/stories-->
          </div>
        </div>
                                                 
         </div><!--/col-12-->
    </div>
  </div>
  
