label{
    color: white;
    font-size: 25px;
  }
  input{
    background-color:rgba(0,0,0,0) !important;
    color: white;
   }
 
   textarea{
    background-color:rgba(0,0,0,0) !important;
    color: white;
   }

   .form-control:hover{
      background-color:rgba(0, 0, 0, 0.315) !important;
      border: none;
      border-bottom:2px solid rgb(211, 130, 64);
      }

      .addbook{
        margin-top: 2%;
        padding: 3%;
        border-style: solid;
        border-width: 1px;
        border-color:white ;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgb(24, 20, 31);
        height: 60%;
        }

        .addbook .addbook-form{
        padding: 8%;
        margin-top: 10%;
        }
        .btnnewbook{
        border: none;
        font-size: 23px;
        font-weight: 800;
        text-align: center;
        border-radius: 1.5rem;
        background: -webkit-linear-gradient(right,rgb(211, 130, 64),rgb(211, 130, 64));
        width: 100%;
        padding: 1%;
        box-shadow:  5px 5px 5px rgba(97, 61, 39, 0.637);
        color: rgba(0, 0, 0, 0.747);
        margin-top: 2%;
        }
        .btnnewbook:hover{
            background: -webkit-linear-gradient(right,rgb(245, 160, 90),rgb(245, 160, 90));
        }
       
        .addbook-heading{
        text-align: center;
        margin-top: 2%;
        margin-bottom: -15%;
        font-size: 30px;
        color: white;
        }
        #fileinput{
            width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
.btnfile{
    font-size: 18px;
    text-align: center;
    border: 2px solid  rgb(211, 130, 64);
    border-radius: 1.5rem;
    background: -webkit-linear-gradient(right,#080808, #886126b5);
    height: 40px;
    width: 250px;
    cursor: pointer;
    margin-top: 40px;
    padding-top: 5px;
    box-shadow:  5px 5px 5px rgba(97, 61, 39, 0.637);
}

#preview{
    margin-top: 10px;
    height: 200px;
    width: auto;
    opacity: 0.6;
    border-radius: 20%;
    
}
.deleted{
    background-color: rgba(19, 17, 17, 0);
    
    border: none;
    margin-top: 5%;
    cursor: pointer;
  }
  .btnnewbook[disabled]{
    background: -webkit-linear-gradient(right,rgb(184, 178, 178),rgb(184, 178, 178));
    color: rgb(122, 117, 117);
  }