.register{
    padding: 3%;
    border-width: 1px;
    border-radius: 70px;
    box-shadow: 10px 10px 10px rgb(24, 20, 31);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto; 
    margin-top: 4%;
    border: 1px solid white;
    padding: 25px;
    background-color: rgba(95, 95, 95, 0.904);
    color: white;
} 
input{
    text-indent:14px;
}
.form-control:hover{
    border: 1px solid #532622;
    background-color: rgba(15, 14, 14, 0.836);
    color: white;
}
.register .register-form{
    padding: 8%;
    margin-top: 10%;
}
.btnsignup{
    border: none;
    border-radius: 1.5rem;
    margin-left: 50px;
    padding: 2%;
    background: #773731;
    color: rgb(242, 243, 234);
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%;
    cursor: pointer;
}
.btnsignup:hover{
    background:  #572420fa;
}
.register-heading{
    text-align: center;
    margin-top: 6%;
    margin-bottom: -15%;
    color: white;
    font-size: 50px;
}
.register{
    width: 50%;
    
    }
    @media only screen and (max-width: 900px) {
      .register {
        width: 90%;
      }
    }
    form i.fa {
      position:absolute ;
      top: 10px;
      left: 20px;
      color: rgb(82, 80, 80);
      /* color: rgba(250, 249, 245, 0.596); */
      font-size: 18px;
      /* z-index: 9999; */
      }
    form .indicator{
      display: none;
    }
    form .text{
      font-size: 20px;
      font-weight: 700;
      display: none;
      margin-bottom: -10px;
    }
    form .text.weak{
      color: rgb(114, 105, 105);
      color: rgb(230, 171, 171);
    }
    form .text.medium{
      color: orange;
    }
    form .text.strong{
      color: #6cca95;
    }
    .eye{
      position: absolute;
      right: 20px;
      top: 20px;
      color: rgb(82, 80, 80);
      transform: translateY(-50%);
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      display: none;
      user-select: none;
    }
    .form-control{
        border: 1px solid #573b39;
        background-color: rgba(255, 255, 255, 0.788); 
        color: rgb(14, 12, 12);
    }
    .input{
        height: 40px;
    }
    .error{
        color: #d33737;
        font-size: 13px;
        font-weight: 600;
    }
    .alert{
      background-color: rgba(216, 180, 180, 0.705);
      color: rgb(128, 38, 38);
      text-align: center;
    }
    .alert-danger{
      margin-top: 30px;
    }
.btnsignup[disabled]{
  background: rgb(184, 178, 178);
}