<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Choose My Vehicle
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"  style="background-color: #435457;"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>
  
  
  <div class="container" >
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel" style="background-color: #435457;">
  
          <div class="panel-body" >
            <div class="card fade-in"  style="text-align: center;">
              <img src="https://images.unsplash.com/photo-1525609004556-c46c7d6cf023?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2Fyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80"  alt="..." data-mdb-toggle="animation" class="animate" style="width:30rem;">
            </div><br><br>
   
            <div class="card">
              <img src="https://images.unsplash.com/photo-1546518071-fddcdda7580a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWVyY2VkZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"  alt="..." style="float: right;width:30rem;"><br>
            </div><br>
  
            <!-- <div class="card" >
              <img src="assets/images/q2.jpg"  alt="..." style="width:30rem;">
            </div><br><br>
  
            <div class="card" >
              <img src="assets/images/q4.jpg"  alt="..." style="float: right;width:30rem;">
            </div><br><br>
  
            <div class="card" >
              <img src="assets/images/q5.jpg"  alt="..." style="width:30rem;">
            </div><br><br>
  
            <div class="card"   style="text-align: center;">
              <img src="assets/images/q6.jpg"  alt="..."  style="width:30rem;">
            </div><br><br> -->
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>