<form #newauthor="ngForm" (ngSubmit) = "AddAuthor()">
    <div class="container addbook" style="background-color: rgba(0, 0, 0, 0.884);">
      <h3 class="addbook-heading">Add A Review</h3>
      <div class="row addbook-form">
        <div class="col-md-2">
          <label>Name</label>
        </div>
        <div class="col-md-10">
          <div class="form-group">
            <input type="text" name="name" [(ngModel)]= "authorItem.name" id="title" class="form-control"  placeholder="Your name*"  style=" color: blanchedalmond;"required>
            <span id="error1" style="color: red;font-size: 13px;"></span>
          </div>
        </div>
        <!-- <div class="col-md-2">
          <label>Description</label>
        </div>
        <div class="col-md-10">
          <div class="form-group">
            <input type="text" name="description" [(ngModel)]= "authorItem.description"  id="name" class="form-control" placeholder="Description of Author* (eg: American author)"  style=" color: blanchedalmond;" required>
            <span id="error2" style="color: red;font-size: 13px;"></span>
          </div>
        </div> -->
        <div class="col-md-2">
          <label>Genres</label>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <!-- <select class="selectpicker" name="genre" [(ngModel)]= "bookItem.genre" data-width="100%" multiple data-live-search="true" title="Click here to select the genres*" style=" color: rgb(17, 15, 11);" required >
                    <option value="Fiction" >Fiction</option>
                    <option value="Mystery" >Mystery</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Action">Action</option>
                    <option value="Romance">Romance</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Supernatural">Supernatural</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Historical">Historical</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Tragedy">Tragedy</option>
                    <option value="Crime">Crime</option>
                    <option value="Biography">Biography</option>
                    <option value="Young adult fiction">Young Adult Fiction</option>
                    <option value="Drama">Drama</option>
                    <option value="Childrens Literature">Childrens Literature</option>
                    <option value="Science">Science</option>
                    <option value="Novel">Novel</option>
                </select> -->
                <input type="text" name="genre" [(ngModel)]= "authorItem.genre"  class="form-control" placeholder="Enter the genres*"  style=" color: blanchedalmond;" required>
                <span id="error3" style="color: red;font-size: 13px;"></span>
            </div>
        </div>
               
        <div class="col-md-2">
          <label>About</label>
        </div>
        <div class="col-md-10">
           <textarea class="form-control z-depth-1"  name="about" [(ngModel)]= "authorItem.about" style=" color: blanchedalmond;" id="exampleFormControlTextarea6" rows="3" placeholder="About the author*" required></textarea>
        </div>
        
        <label>Choose an image of author </label> <br>
        <textarea class="form-control z-depth-1"  name="image" [(ngModel)]= "authorItem.image" style=" color: blanchedalmond;" id="exampleFormControlTextarea6" rows="2" placeholder="Copy and paste the image address here*" required></textarea>
          
          <!-- <img id="preview" src="/images/bookplaceholder.jpg" onclick="show()" style="cursor: pointer;"> -->
         
          <input type="submit" [disabled]="newauthor.invalid" class="btnnewbook" value="Add">
        </div>   
   
    </div>
  </form>
